<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <string>a</string>
    <string>about</string>
    <string>above</string>
    <string>across</string>
    <string>after</string>
    <string>again</string>
    <string>against</string>
    <string>all</string>
    <string>almost</string>
    <string>alone</string>
    <string>along</string>
    <string>already</string>
    <string>also</string>
    <string>although</string>
    <string>always</string>
    <string>among</string>
    <string>an</string>
    <string>and</string>
    <string>another</string>
    <string>any</string>
    <string>anybody</string>
    <string>anyone</string>
    <string>anything</string>
    <string>anywhere</string>
    <string>are</string>
    <string>area</string>
    <string>areas</string>
    <string>around</string>
    <string>as</string>
    <string>ask</string>
    <string>asked</string>
    <string>asking</string>
    <string>asks</string>
    <string>at</string>
    <string>away</string>
    <string>b</string>
    <string>back</string>
    <string>backed</string>
    <string>backing</string>
    <string>backs</string>
    <string>be</string>
    <string>became</string>
    <string>because</string>
    <string>become</string>
    <string>becomes</string>
    <string>been</string>
    <string>before</string>
    <string>began</string>
    <string>behind</string>
    <string>being</string>
    <string>beings</string>
    <string>best</string>
    <string>better</string>
    <string>between</string>
    <string>big</string>
    <string>both</string>
    <string>but</string>
    <string>by</string>
    <string>c</string>
    <string>came</string>
    <string>can</string>
    <string>cannot</string>
    <string>case</string>
    <string>cases</string>
    <string>certain</string>
    <string>certainly</string>
    <string>clear</string>
    <string>clearly</string>
    <string>come</string>
    <string>could</string>
    <string>d</string>
    <string>did</string>
    <string>differ</string>
    <string>different</string>
    <string>differently</string>
    <string>do</string>
    <string>does</string>
    <string>done</string>
    <string>down</string>
    <string>down</string>
    <string>downed</string>
    <string>downing</string>
    <string>downs</string>
    <string>during</string>
    <string>e</string>
    <string>each</string>
    <string>early</string>
    <string>either</string>
    <string>end</string>
    <string>ended</string>
    <string>ending</string>
    <string>ends</string>
    <string>enough</string>
    <string>even</string>
    <string>evenly</string>
    <string>ever</string>
    <string>every</string>
    <string>everybody</string>
    <string>everyone</string>
    <string>everything</string>
    <string>everywhere</string>
    <string>f</string>
    <string>face</string>
    <string>faces</string>
    <string>fact</string>
    <string>facts</string>
    <string>far</string>
    <string>felt</string>
    <string>few</string>
    <string>find</string>
    <string>finds</string>
    <string>first</string>
    <string>for</string>
    <string>four</string>
    <string>from</string>
    <string>full</string>
    <string>fully</string>
    <string>further</string>
    <string>furthered</string>
    <string>furthering</string>
    <string>furthers</string>
    <string>g</string>
    <string>gave</string>
    <string>general</string>
    <string>generally</string>
    <string>get</string>
    <string>gets</string>
    <string>give</string>
    <string>given</string>
    <string>gives</string>
    <string>go</string>
    <string>going</string>
    <string>good</string>
    <string>goods</string>
    <string>got</string>
    <string>great</string>
    <string>greater</string>
    <string>greatest</string>
    <string>group</string>
    <string>grouped</string>
    <string>grouping</string>
    <string>groups</string>
    <string>h</string>
    <string>had</string>
    <string>has</string>
    <string>have</string>
    <string>having</string>
    <string>he</string>
    <string>her</string>
    <string>here</string>
    <string>herself</string>
    <string>high</string>
    <string>high</string>
    <string>high</string>
    <string>higher</string>
    <string>highest</string>
    <string>him</string>
    <string>himself</string>
    <string>his</string>
    <string>how</string>
    <string>however</string>
    <string>i</string>
    <string>if</string>
    <string>important</string>
    <string>in</string>
    <string>interest</string>
    <string>interested</string>
    <string>interesting</string>
    <string>interests</string>
    <string>into</string>
    <string>is</string>
    <string>it</string>
    <string>its</string>
    <string>itself</string>
    <string>j</string>
    <string>just</string>
    <string>k</string>
    <string>keep</string>
    <string>keeps</string>
    <string>kind</string>
    <string>knew</string>
    <string>know</string>
    <string>known</string>
    <string>knows</string>
    <string>l</string>
    <string>large</string>
    <string>largely</string>
    <string>last</string>
    <string>later</string>
    <string>latest</string>
    <string>least</string>
    <string>less</string>
    <string>let</string>
    <string>lets</string>
    <string>like</string>
    <string>likely</string>
    <string>long</string>
    <string>longer</string>
    <string>longest</string>
    <string>m</string>
    <string>made</string>
    <string>make</string>
    <string>making</string>
    <string>man</string>
    <string>many</string>
    <string>may</string>
    <string>me</string>
    <string>member</string>
    <string>members</string>
    <string>men</string>
    <string>might</string>
    <string>more</string>
    <string>most</string>
    <string>mostly</string>
    <string>mr</string>
    <string>mrs</string>
    <string>much</string>
    <string>must</string>
    <string>my</string>
    <string>myself</string>
    <string>n</string>
    <string>necessary</string>
    <string>need</string>
    <string>needed</string>
    <string>needing</string>
    <string>needs</string>
    <string>never</string>
    <string>new</string>
    <string>new</string>
    <string>newer</string>
    <string>newest</string>
    <string>next</string>
    <string>no</string>
    <string>nobody</string>
    <string>non</string>
    <string>noone</string>
    <string>not</string>
    <string>nothing</string>
    <string>now</string>
    <string>nowhere</string>
    <string>number</string>
    <string>numbers</string>
    <string>o</string>
    <string>of</string>
    <string>off</string>
    <string>often</string>
    <string>old</string>
    <string>older</string>
    <string>oldest</string>
    <string>on</string>
    <string>once</string>
    <string>one</string>
    <string>only</string>
    <string>open</string>
    <string>opened</string>
    <string>opening</string>
    <string>opens</string>
    <string>or</string>
    <string>order</string>
    <string>ordered</string>
    <string>ordering</string>
    <string>orders</string>
    <string>other</string>
    <string>others</string>
    <string>our</string>
    <string>out</string>
    <string>over</string>
    <string>p</string>
    <string>part</string>
    <string>parted</string>
    <string>parting</string>
    <string>parts</string>
    <string>per</string>
    <string>perhaps</string>
    <string>place</string>
    <string>places</string>
    <string>point</string>
    <string>pointed</string>
    <string>pointing</string>
    <string>points</string>
    <string>possible</string>
    <string>present</string>
    <string>presented</string>
    <string>presenting</string>
    <string>presents</string>
    <string>problem</string>
    <string>problems</string>
    <string>put</string>
    <string>puts</string>
    <string>q</string>
    <string>quite</string>
    <string>r</string>
    <string>rather</string>
    <string>really</string>
    <string>right</string>
    <string>right</string>
    <string>room</string>
    <string>rooms</string>
    <string>s</string>
    <string>said</string>
    <string>same</string>
    <string>saw</string>
    <string>say</string>
    <string>says</string>
    <string>second</string>
    <string>seconds</string>
    <string>see</string>
    <string>seem</string>
    <string>seemed</string>
    <string>seeming</string>
    <string>seems</string>
    <string>sees</string>
    <string>several</string>
    <string>shall</string>
    <string>she</string>
    <string>should</string>
    <string>show</string>
    <string>showed</string>
    <string>showing</string>
    <string>shows</string>
    <string>side</string>
    <string>sides</string>
    <string>since</string>
    <string>small</string>
    <string>smaller</string>
    <string>smallest</string>
    <string>so</string>
    <string>some</string>
    <string>somebody</string>
    <string>someone</string>
    <string>something</string>
    <string>somewhere</string>
    <string>state</string>
    <string>states</string>
    <string>still</string>
    <string>still</string>
    <string>such</string>
    <string>sure</string>
    <string>t</string>
    <string>take</string>
    <string>taken</string>
    <string>than</string>
    <string>that</string>
    <string>the</string>
    <string>their</string>
    <string>them</string>
    <string>then</string>
    <string>there</string>
    <string>therefore</string>
    <string>these</string>
    <string>they</string>
    <string>thing</string>
    <string>things</string>
    <string>think</string>
    <string>thinks</string>
    <string>this</string>
    <string>those</string>
    <string>though</string>
    <string>thought</string>
    <string>thoughts</string>
    <string>three</string>
    <string>through</string>
    <string>thus</string>
    <string>to</string>
    <string>today</string>
    <string>together</string>
    <string>too</string>
    <string>took</string>
    <string>toward</string>
    <string>turn</string>
    <string>turned</string>
    <string>turning</string>
    <string>turns</string>
    <string>two</string>
    <string>u</string>
    <string>under</string>
    <string>until</string>
    <string>up</string>
    <string>upon</string>
    <string>us</string>
    <string>use</string>
    <string>used</string>
    <string>uses</string>
    <string>v</string>
    <string>very</string>
    <string>w</string>
    <string>want</string>
    <string>wanted</string>
    <string>wanting</string>
    <string>wants</string>
    <string>was</string>
    <string>way</string>
    <string>ways</string>
    <string>we</string>
    <string>well</string>
    <string>wells</string>
    <string>went</string>
    <string>were</string>
    <string>what</string>
    <string>when</string>
    <string>where</string>
    <string>whether</string>
    <string>which</string>
    <string>while</string>
    <string>who</string>
    <string>whole</string>
    <string>whose</string>
    <string>why</string>
    <string>will</string>
    <string>with</string>
    <string>within</string>
    <string>without</string>
    <string>work</string>
    <string>worked</string>
    <string>working</string>
    <string>works</string>
    <string>would</string>
    <string>x</string>
    <string>y</string>
    <string>year</string>
    <string>years</string>
    <string>yet</string>
    <string>you</string>
    <string>young</string>
    <string>younger</string>
    <string>youngest</string>
    <string>your</string>
    <string>yours</string>
    <string>z</string>
    <string>rt</string>
    <string>im</string>
    <string>lol</string>
    <string>cant</string>
    <string>dont</string>
    <string>que</string>
    <string>la</string>
    <string>de</string>
    <string>th</string>
    <string>sir</string>
    <string>&amp;quot;</string>
    <string>RT</string>
    <string>a</string>
    <string>a's</string>
    <string>able</string>
    <string>about</string>
    <string>above</string>
    <string>according</string>
    <string>accordingly</string>
    <string>across</string>
    <string>actually</string>
    <string>after</string>
    <string>afterwards</string>
    <string>again</string>
    <string>against</string>
    <string>ain't</string>
    <string>all</string>
    <string>allow</string>
    <string>allows</string>
    <string>almost</string>
    <string>alone</string>
    <string>along</string>
    <string>already</string>
    <string>also</string>
    <string>although</string>
    <string>always</string>
    <string>am</string>
    <string>among</string>
    <string>amongst</string>
    <string>an</string>
    <string>and</string>
    <string>another</string>
    <string>any</string>
    <string>anybody</string>
    <string>anyhow</string>
    <string>anyone</string>
    <string>anything</string>
    <string>anyway</string>
    <string>anyways</string>
    <string>anywhere</string>
    <string>apart</string>
    <string>appear</string>
    <string>appreciate</string>
    <string>appropriate</string>
    <string>are</string>
    <string>aren't</string>
    <string>around</string>
    <string>as</string>
    <string>aside</string>
    <string>ask</string>
    <string>asking</string>
    <string>associated</string>
    <string>at</string>
    <string>available</string>
    <string>away</string>
    <string>awfully</string>
    <string>b</string>
    <string>be</string>
    <string>became</string>
    <string>because</string>
    <string>become</string>
    <string>becomes</string>
    <string>becoming</string>
    <string>been</string>
    <string>before</string>
    <string>beforehand</string>
    <string>behind</string>
    <string>being</string>
    <string>believe</string>
    <string>below</string>
    <string>beside</string>
    <string>besides</string>
    <string>best</string>
    <string>better</string>
    <string>between</string>
    <string>beyond</string>
    <string>both</string>
    <string>brief</string>
    <string>but</string>
    <string>by</string>
    <string>c</string>
    <string>c'mon</string>
    <string>c's</string>
    <string>came</string>
    <string>can</string>
    <string>can't</string>
    <string>cannot</string>
    <string>cant</string>
    <string>cause</string>
    <string>causes</string>
    <string>certain</string>
    <string>certainly</string>
    <string>changes</string>
    <string>clearly</string>
    <string>co</string>
    <string>com</string>
    <string>come</string>
    <string>comes</string>
    <string>concerning</string>
    <string>consequently</string>
    <string>consider</string>
    <string>considering</string>
    <string>contain</string>
    <string>containing</string>
    <string>contains</string>
    <string>corresponding</string>
    <string>could</string>
    <string>couldn't</string>
    <string>course</string>
    <string>currently</string>
    <string>d</string>
    <string>definitely</string>
    <string>described</string>
    <string>despite</string>
    <string>did</string>
    <string>didn't</string>
    <string>different</string>
    <string>do</string>
    <string>does</string>
    <string>doesn't</string>
    <string>doing</string>
    <string>don't</string>
    <string>done</string>
    <string>down</string>
    <string>downwards</string>
    <string>during</string>
    <string>e</string>
    <string>each</string>
    <string>edu</string>
    <string>eg</string>
    <string>eight</string>
    <string>either</string>
    <string>else</string>
    <string>elsewhere</string>
    <string>enough</string>
    <string>entirely</string>
    <string>especially</string>
    <string>et</string>
    <string>etc</string>
    <string>even</string>
    <string>ever</string>
    <string>every</string>
    <string>everybody</string>
    <string>everyone</string>
    <string>everything</string>
    <string>everywhere</string>
    <string>ex</string>
    <string>exactly</string>
    <string>example</string>
    <string>except</string>
    <string>f</string>
    <string>far</string>
    <string>few</string>
    <string>fifth</string>
    <string>first</string>
    <string>five</string>
    <string>followed</string>
    <string>following</string>
    <string>follows</string>
    <string>for</string>
    <string>former</string>
    <string>formerly</string>
    <string>forth</string>
    <string>four</string>
    <string>from</string>
    <string>further</string>
    <string>furthermore</string>
    <string>g</string>
    <string>get</string>
    <string>gets</string>
    <string>getting</string>
    <string>given</string>
    <string>gives</string>
    <string>go</string>
    <string>goes</string>
    <string>going</string>
    <string>gone</string>
    <string>got</string>
    <string>gotten</string>
    <string>greetings</string>
    <string>h</string>
    <string>had</string>
    <string>hadn't</string>
    <string>happens</string>
    <string>hardly</string>
    <string>has</string>
    <string>hasn't</string>
    <string>have</string>
    <string>haven't</string>
    <string>having</string>
    <string>he</string>
    <string>he's</string>
    <string>hello</string>
    <string>help</string>
    <string>hence</string>
    <string>her</string>
    <string>here</string>
    <string>here's</string>
    <string>hereafter</string>
    <string>hereby</string>
    <string>herein</string>
    <string>hereupon</string>
    <string>hers</string>
    <string>herself</string>
    <string>hi</string>
    <string>him</string>
    <string>himself</string>
    <string>his</string>
    <string>hither</string>
    <string>hopefully</string>
    <string>how</string>
    <string>howbeit</string>
    <string>however</string>
    <string>i</string>
    <string>i'd</string>
    <string>i'll</string>
    <string>i'm</string>
    <string>i've</string>
    <string>ie</string>
    <string>if</string>
    <string>ignored</string>
    <string>immediate</string>
    <string>in</string>
    <string>inasmuch</string>
    <string>inc</string>
    <string>indeed</string>
    <string>indicate</string>
    <string>indicated</string>
    <string>indicates</string>
    <string>inner</string>
    <string>insofar</string>
    <string>instead</string>
    <string>into</string>
    <string>inward</string>
    <string>is</string>
    <string>isn't</string>
    <string>it</string>
    <string>it'd</string>
    <string>it'll</string>
    <string>it's</string>
    <string>its</string>
    <string>itself</string>
    <string>j</string>
    <string>just</string>
    <string>k</string>
    <string>keep</string>
    <string>keeps</string>
    <string>kept</string>
    <string>know</string>
    <string>knows</string>
    <string>known</string>
    <string>l</string>
    <string>last</string>
    <string>lately</string>
    <string>later</string>
    <string>latter</string>
    <string>latterly</string>
    <string>least</string>
    <string>less</string>
    <string>lest</string>
    <string>let</string>
    <string>let's</string>
    <string>like</string>
    <string>liked</string>
    <string>likely</string>
    <string>little</string>
    <string>look</string>
    <string>looking</string>
    <string>looks</string>
    <string>ltd</string>
    <string>m</string>
    <string>mainly</string>
    <string>many</string>
    <string>may</string>
    <string>maybe</string>
    <string>me</string>
    <string>mean</string>
    <string>meanwhile</string>
    <string>merely</string>
    <string>might</string>
    <string>more</string>
    <string>moreover</string>
    <string>most</string>
    <string>mostly</string>
    <string>much</string>
    <string>must</string>
    <string>my</string>
    <string>myself</string>
    <string>n</string>
    <string>name</string>
    <string>namely</string>
    <string>nd</string>
    <string>near</string>
    <string>nearly</string>
    <string>necessary</string>
    <string>need</string>
    <string>needs</string>
    <string>neither</string>
    <string>never</string>
    <string>nevertheless</string>
    <string>new</string>
    <string>next</string>
    <string>nine</string>
    <string>no</string>
    <string>nobody</string>
    <string>non</string>
    <string>none</string>
    <string>noone</string>
    <string>nor</string>
    <string>normally</string>
    <string>not</string>
    <string>nothing</string>
    <string>novel</string>
    <string>now</string>
    <string>nowhere</string>
    <string>o</string>
    <string>obviously</string>
    <string>of</string>
    <string>off</string>
    <string>often</string>
    <string>oh</string>
    <string>ok</string>
    <string>okay</string>
    <string>old</string>
    <string>on</string>
    <string>once</string>
    <string>one</string>
    <string>ones</string>
    <string>only</string>
    <string>onto</string>
    <string>or</string>
    <string>other</string>
    <string>others</string>
    <string>otherwise</string>
    <string>ought</string>
    <string>our</string>
    <string>ours</string>
    <string>ourselves</string>
    <string>out</string>
    <string>outside</string>
    <string>over</string>
    <string>overall</string>
    <string>own</string>
    <string>p</string>
    <string>particular</string>
    <string>particularly</string>
    <string>per</string>
    <string>perhaps</string>
    <string>placed</string>
    <string>please</string>
    <string>plus</string>
    <string>possible</string>
    <string>presumably</string>
    <string>probably</string>
    <string>provides</string>
    <string>q</string>
    <string>que</string>
    <string>quite</string>
    <string>qv</string>
    <string>r</string>
    <string>rather</string>
    <string>rd</string>
    <string>re</string>
    <string>really</string>
    <string>reasonably</string>
    <string>regarding</string>
    <string>regardless</string>
    <string>regards</string>
    <string>relatively</string>
    <string>respectively</string>
    <string>right</string>
    <string>s</string>
    <string>said</string>
    <string>same</string>
    <string>saw</string>
    <string>say</string>
    <string>saying</string>
    <string>says</string>
    <string>second</string>
    <string>secondly</string>
    <string>see</string>
    <string>seeing</string>
    <string>seem</string>
    <string>seemed</string>
    <string>seeming</string>
    <string>seems</string>
    <string>seen</string>
    <string>self</string>
    <string>selves</string>
    <string>sensible</string>
    <string>sent</string>
    <string>serious</string>
    <string>seriously</string>
    <string>seven</string>
    <string>several</string>
    <string>shall</string>
    <string>she</string>
    <string>should</string>
    <string>shouldn't</string>
    <string>since</string>
    <string>six</string>
    <string>so</string>
    <string>some</string>
    <string>somebody</string>
    <string>somehow</string>
    <string>someone</string>
    <string>something</string>
    <string>sometime</string>
    <string>sometimes</string>
    <string>somewhat</string>
    <string>somewhere</string>
    <string>soon</string>
    <string>sorry</string>
    <string>specified</string>
    <string>specify</string>
    <string>specifying</string>
    <string>still</string>
    <string>sub</string>
    <string>such</string>
    <string>sup</string>
    <string>sure</string>
    <string>t</string>
    <string>t's</string>
    <string>take</string>
    <string>taken</string>
    <string>tell</string>
    <string>tends</string>
    <string>th</string>
    <string>than</string>
    <string>thank</string>
    <string>thanks</string>
    <string>thanx</string>
    <string>that</string>
    <string>that's</string>
    <string>thats</string>
    <string>the</string>
    <string>their</string>
    <string>theirs</string>
    <string>them</string>
    <string>themselves</string>
    <string>then</string>
    <string>thence</string>
    <string>there</string>
    <string>there's</string>
    <string>thereafter</string>
    <string>thereby</string>
    <string>therefore</string>
    <string>therein</string>
    <string>theres</string>
    <string>thereupon</string>
    <string>these</string>
    <string>they</string>
    <string>they'd</string>
    <string>they'll</string>
    <string>they're</string>
    <string>they've</string>
    <string>think</string>
    <string>third</string>
    <string>this</string>
    <string>thorough</string>
    <string>thoroughly</string>
    <string>those</string>
    <string>though</string>
    <string>three</string>
    <string>through</string>
    <string>throughout</string>
    <string>thru</string>
    <string>thus</string>
    <string>to</string>
    <string>together</string>
    <string>too</string>
    <string>took</string>
    <string>toward</string>
    <string>towards</string>
    <string>tried</string>
    <string>tries</string>
    <string>truly</string>
    <string>try</string>
    <string>trying</string>
    <string>twice</string>
    <string>two</string>
    <string>u</string>
    <string>un</string>
    <string>under</string>
    <string>unfortunately</string>
    <string>unless</string>
    <string>unlikely</string>
    <string>until</string>
    <string>unto</string>
    <string>up</string>
    <string>upon</string>
    <string>us</string>
    <string>use</string>
    <string>used</string>
    <string>useful</string>
    <string>uses</string>
    <string>using</string>
    <string>usually</string>
    <string>uucp</string>
    <string>v</string>
    <string>value</string>
    <string>various</string>
    <string>very</string>
    <string>via</string>
    <string>viz</string>
    <string>vs</string>
    <string>w</string>
    <string>want</string>
    <string>wants</string>
    <string>was</string>
    <string>wasn't</string>
    <string>way</string>
    <string>we</string>
    <string>we'd</string>
    <string>we'll</string>
    <string>we're</string>
    <string>we've</string>
    <string>welcome</string>
    <string>well</string>
    <string>went</string>
    <string>were</string>
    <string>weren't</string>
    <string>what</string>
    <string>what's</string>
    <string>whatever</string>
    <string>when</string>
    <string>whence</string>
    <string>whenever</string>
    <string>where</string>
    <string>where's</string>
    <string>whereafter</string>
    <string>whereas</string>
    <string>whereby</string>
    <string>wherein</string>
    <string>whereupon</string>
    <string>wherever</string>
    <string>whether</string>
    <string>which</string>
    <string>while</string>
    <string>whither</string>
    <string>who</string>
    <string>who's</string>
    <string>whoever</string>
    <string>whole</string>
    <string>whom</string>
    <string>whose</string>
    <string>why</string>
    <string>will</string>
    <string>willing</string>
    <string>wish</string>
    <string>with</string>
    <string>within</string>
    <string>without</string>
    <string>won't</string>
    <string>wonder</string>
    <string>would</string>
    <string>would</string>
    <string>wouldn't</string>
    <string>x</string>
    <string>y</string>
    <string>yes</string>
    <string>yet</string>
    <string>you</string>
    <string>you'd</string>
    <string>you'll</string>
    <string>you're</string>
    <string>you've</string>
    <string>your</string>
    <string>yours</string>
    <string>yourself</string>
    <string>yourselves</string>
    <string>z</string>
    <string>zero</string>
  </array>
</plist>
